doc/
lib/
obj/
demos/lib/
demos/obj/
demos/src/Demo.h
demos/square_wellium
demos/square_wellium_spherocylinder
demos/square_wellium_wall
demos/lennard_jonesium
demos/patchy_disc
demos/python/square_wellium
demos/python/lennard_jonesium
demos/python/patchy_disc
demos/python/demo/*.pyc
.compiler_flags
.check_python
trajectory.xyz
vmd.tcl
*.dSYM
